form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin {
    max-width: 180px;
}

.passwordForgot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.btnLoginConfirm {
    margin-top: 30px;
    padding: 8px;
    width: 180px;
    border: 2px solid #fdd892;
    outline: none;
    border-radius: 50px;
    text-align: center;
    background-color: #5d5485;
    color: white;
    cursor: pointer;
    font-family: "Courier";
}

.passwordForgotReset {
    color: #311b92;
    text-decoration: none;
    font-weight: bold;
}