.posts {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    padding: 25px;
    border-radius: 8px;
    margin: 15px;
}

.image {
    width: 300px;
    height: 180px;
    border-radius: 8px;
    margin: 0 auto;
}

.title {
    font-size: 26px;
}

.text {
    font-size: 14px;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.date {
    font-size: 14px;
    color: black;
}

.pos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}